agenda-alura/*.iml
agenda-alura/.gradle
agenda-alura/local.properties
agenda-alura/.idea/*
agenda-alura/.DS_Store
agenda-alura/build
agenda-alura/captures
agenda-alura/.externalNativeBuild
agenda-alura/.cxx